doctype
html(lang="pt-BR")
	head
		//- Essentials Meta Tags
		//- ----------------------------------------------------------------------
		meta(charset="UTF-8")
		title Form Validation

		//- CSS
		//- ----------------------------------------------------------------------
		link(rel="stylesheet" href="css/main.css")

		//- Fonts
		//- ----------------------------------------------------------------------
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css")

	body
		.container
			form(name="form1" action="" method="post").contact-form
				label Nome:
				span.alerta-nome Favor digitar o campo corretamente
				input(name="nome" type="text" placeholder="Nome completo" autofocus)

				label Email:
				span.alerta-email Favor digitar um e-mail válido!
				input(name="email" type="email" placeholder="ex: nome@provedor.")

				label CPF:
				span.alerta-cpf Favor digitar um CPF válido no formato 000.000.000-0 
				input(name="cpf" type="text" placeholder="ex: 000.000.000-00" pattern="/d{3}\.?\d{3}\.?\d{3}\.?-?\d{2}")

				label Data de Nascimento:
				span.alerta-data Favor digitar o campo no formato 00/00/0000 
				input(name="datanascimento" type="text" placeholder="ex: 00/00/0000" pattern="/(0[1-9]|1[0-2])/\d{2}")

				input#formEnviar(type="submit" value="Enviar o formulário")

		script(src="js/main.js")